@model SportsStore.WebUI.Models.BookListViewModel

@{
    ViewBag.Title = "Products";
}

@foreach (var p in Model.Books)
{
    @Html.Partial("BookSummary", p)
}

<div class="btn-group pull-right">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x, category = Model.CurrentCategory }))
</div>

